################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreWebAPI/.vs/NetCoreWebAPI/v15/Server/sqlite3
