################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreWebAPI/.vs/NetCoreWebAPI/v15/Server/sqlite3
/NetCoreWebAPI/.vs/NetCoreWebAPI/v15
/NetCoreWebAPI/NetCoreWebAPI/bin/Debug/netcoreapp2.0
/NetCoreWebAPI/NetCoreWebAPI/obj
NetCoreWebAPI/.vs/config/applicationhost.config
