################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreWebAPI/.vs/config/applicationhost.config
/NetCoreWebAPI/.vs/NetCoreWebAPI/v15
